#title {
  width: 100%;
  height: 40px;
  background: -webkit-linear-gradient(bottom left, #2894ff, #97cbff) ;
  display: flex;

}
#title_left{
  display: flex;
  flex: 1;
  height: 70px;
  align-items: center;
  justify-content: flex-start;
}
#head_portrait{
  display: flex;
  width: 40px;
  height: 40px;
  margin: 20px;
  border-radius: 50%;
  background-image: url("../img/头像.jpg");
  background-size: cover;
  background-position: center;

}
#title_center{
  width: 200px;
  height: 70px;
}
#title_center_text{
  font-size: 20px;
  font-family: 微软雅黑;
  font-weight: 200;
  color: white;
}
#title_right{
  height: 70px;
  display: flex;
  flex: 1;
}
#title_right_add{
  width: 50px;
  height: 50px;
  margin: 20px;
  border-radius: 50%;
  background-image: url("../img/add (1).svg");
  background-size: cover;
  position: relative;
}
#add_menu{
  display: none;
  width: 150px;
  height: 300px;
  position: absolute;
  top: 50px;
  right: -12px;
  /*background-color: #2894ff;*/
}
#add_menu_1{
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  background-color: rgba(53, 242, 236, 0.37);
  position: absolute;
  right: 28px;
  top: 3px
}
#add_menu_2{

  width: 100%;
  height: 150px;
  background-color: rgb(187, 236, 242);
  position: absolute;
  top: 10px;
  border-radius: 10px;
}
.add_menu_body{
  height: 30px;
  width: 100%;

}
.add_menu_list{
  height: 30px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.add_menu_left{
  margin-left: 5px;
  height: 30px;
  width: 40px;
  display: flex;
  align-items: center;

}
.add_menu_left_img{
  width:25px;
  height: 25px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.add_menu_right{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add_menu_right_text{
  margin-top: 5px;
  height: 18px;
  width: 100%;

}
