#main{
  flex: 1;
  width: 100%;
  overflow: scroll;
  /*background-color: #E8EAF6;*/

}
#search{
  display: flex;
  width: 100%;
  height: 30px;
  background-color: #F5F5F5;
  /*align-items: center;*/
  /*justify-content: center;*/
}
#search_body{
  height: 20px;
  background-color: #EEEEEE;
  width: 96%;
  display: flex;
  border-radius: 4px ;
  /*align-items: center;*/
  /*justify-content: center;*/
}
#search_body_search{
  width: 15px;
  height: 15px;
  background-image: url("../img/搜索 (1).svg");

}
#search_body_text{
  height: 15px;
  font-size: 12px;
  color: #BDBDBD;
}




#fried_list {
  width: 100%;
  overflow: scroll;
}
#said{
  background-color: #F5F5F5;
  width: 100%;
  height: 135px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.said_right{
  flex: 1;
  height: 100%;
}
.said_right_title{
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 18px;
  font-weight: 500;
}
.said_totop{
  background-color: white;
  margin-bottom: 20px;
  /*margin: 10px;*/
  width: 96%;
  height: 115px;
  display: flex;
  align-items: center;
}
.fried{
  width: 100%;
  height: 40px;
  display: flex;
  background-color:white;
  border-bottom: 1px solid #E0E0E0;
  align-items: center;
}
.fried_left{
  margin-left: 15px;
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 18px;
  font-weight: 500;
}
.fried_right{
  margin-right: 0px;
  width: 50px;
  line-height: 40px;
  font-size: 15px;
  color:#757575;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.fried_right_text{
  display: flex;
  font-size: 15px;
  line-height: 38px;
  justify-items: flex-end;
  height: 100%;
  width: 60px;
  margin-right: 15px;
}
.said_left{
  margin-left: 15px;
  width:80px;
  height: 80px;

}
.said_left_img{
  width:80px;
  height: 80px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.said_right_top{
  display: flex;
  flex: 1;
  height: 40px;
  align-content: center;
  justify-content: flex-end;

}
.said_right_bottom{

  height: 50px;
  display: flex;
  justify-content:flex-start;
}
.said_bottom_text{
  height: 100%;
  flex: 1;
  display: flex;
  color: #BDBDBD;
  justify-content: flex-start;
  font-size: 15px;
  font-weight: 100;
}
.fried_menu{
  height: 40px;
  display: flex;
  justify-items: center;
  align-items: center;
  border-bottom: 1px solid #E0E0E0;
}
.fried_menu_1{
  height: 100%;
  width: 20%;
  font-size: 20px;
  line-height: 35px;
  display: flex;
  justify-content: center;
}
.fried_menu_text{

  width: 60px;

}
.fried_menu_1_choose{
  width: 42px;
  height: 6px;
  background-color: #42A5F5;
}

/*聊天页面*/
.chat{
  width: 100%;
  height: 75px;
  background-color:white;
  border-bottom: 1px solid #E0E0E0;
  justify-content: flex-start;
  display: flex;
}
.chat_totop{
  background-color: #E0F7FA;
}
#care_chat{
  display: none;
}
.chat{
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;

}
.chat_left{
  margin-left: 15px;
  height: 68px;
  width: 60px;

}
.chat_left_img{
  width:56px;
  height: 56px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.chat_right{
  flex: 1;
  height: 100%;
}
.chat_right_top{
  height: 35px;
  display: flex;
  align-items: flex-end;
  justify-content:flex-start;
}
.chat_right_bottom{
  height: 35px;
  display: flex;
  justify-content:flex-start;
}
.chat_right_title{
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 18px;
  font-weight: 500;
}
.chat_right_time{
  height: 26px;
  width: 50px;
  font-size: 15px;
  color:#757575;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.chat_bottom_text{
  height: 70%;
  flex: 1;
  display: flex;
  color: #BDBDBD;
  justify-content: flex-start;
  font-size: 15px;
  font-weight: 100;
}
#care_chat_p{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.chat_right_number{
  height: 26px;
  width: 50px;
  display: flex;
  justify-content: center;

}
.chat_number_border_no{
  justify-content: center;
  align-items: center;
  display: flex;
  height: 16px;
  width: 30px;
  border-radius: 15px 15px 15px 15px ;
  background-color: #B3E5FC;
  /*color: white;*/
  /*font-size: 12px;*/
  /*line-height: 16px;*/
  /*text-align: center;*/
}
